<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <style>
        .map {
            height: 100%;
        }

        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body>
    <div class="map"></div>


    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgOoid-autWVCLeQuhaQhlpbEbR_SirUs&callback=initMap"
        async defer></script>
</body>

</html>